* {
    box-sizing: border-box;
  }
  
:root {
    --primary: rgba(0, 0, 0, 1);
    --secondary: #024e76;
    --tertiary: rgb(246, 255, 255);
    --neutral: rgb(255, 255, 222);
}
  
body {
    background: var(--neutral);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
header {
    background: var(--secondary);
    padding: 30px 25px;
    border-bottom: 5px solid var(--primary);
}

header p {
    color: white;
    margin: 5px 0 20px;
    font-size: 18px;
}
  
p,
li {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: grey;
}
  
footer {
    width: 100%;
    background: var(--secondary);
    color: var(--neutral);
    font-size: 28px;
    padding: 20px;
    border-top: 5px solid var(--primary);
}
  
.page-title {
    color: var(--neutral);
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 42px;
}
  
.page-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--neutral);
}

.container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.scorebord-container {
    position: absolute;
    top: 200px;
    max-width: fit-content;
    margin-left: 10px;
}

#question {
    font-size: 25px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 15px 0;
}

.btn {
    color: var(--neutral);
    padding: 10px 15px;
    background: var(--secondary);
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 3px;
}

.btn:hover {
    background: #347597;
}

form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
  
form input {
    outline: none;
    border: none;
    padding: 12px;
    font-size: 20px;
    border: 2px solid var(--primary);
    margin-right: 5px;
    border-radius: 12px;
}

.scorebord {
    min-width: 200px;
    max-width: fit-content;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    flex: none;
}

.score-title {
    border-bottom: 3px solid black;
    text-align: center;
}

.initial {
    border-bottom: 2px solid var(--secondary);
    font-size: 18px;
}

aside {
    background-color: var(--neutral);
    margin-bottom: 0px;
}



.timer {
    float: right;
    margin-right: 50px;
    margin-bottom: 0px;
}

.timer p {
    margin-bottom: 0px;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

.hide {
    display: none;
}

@media screen and (max-width: 620px) {
    .page-title {
        font-size: 28px;
    }
}

@media screen and (max-width: 422px) {
    .page-title {
        font-size: 23px;
    }

    header p {
        font-size: 15px;
    }
}

@media screen and (max-width: 375px) {
    .page-content {
        padding-top: 250px;
        padding-bottom: 50px;
        width: 90%;
        margin-left: 20px;
    }

    .scorebord-container {
        width: 90%;
        margin-left: 20px;
    }
}